/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html {
    zoom: 0.55;
    // zoom: 0.427;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    margin: 0;
    position: relative;
    height: 1334px;
    width: 750px;
    background: blue;
    outline: 1px solid black;
    background: url(../img/background.jpg) no-repeat;
    background-size: 750px 1334px;

    font-family: brandon, sans-serif;
}

.screen {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

#connexion {
    background: url(../img/connexion.png) no-repeat;
    background-size: cover;
    z-index: 2;

    #login-button {
        position: relative;
        top: 75%;
        margin: 0 auto;
        text-align: center;
        line-height: 75px;
        display: block;
        font-size: 36px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-weight: lighter;
        width: 530px;
        height: 75px;
        border: 3px solid white;
    }

    opacity: 1;
    transition: opacity 0.25s ease-in;

    &.hidden {
        z-index: 1;
        opacity: 0;
    }
}

#app-content {
    opacity: 0;
    z-index: 1;
    overflow: hidden;

    transition: opacity 0.25s ease-out 0.25s;

    &.shown {
        opacity: 1;
    }
}

#home-page {
    background: url(../img/home-page.png) no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    opacity: 1;

    &.hidden {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
        opacity: 0;
        transform: translate3D(-100%, 0, 0);    
    }
}

#zone-link {
    position: absolute;
    display: block;
    width: 170px;
    height: 170px;
    top: 24%;
    left: 40%;
    z-index: 4;

    &.hidden {
        display: none;
    }
}

#date {
    top: 0;
    left: 0;
    background-size: cover;

    &.day {
        background: url(../img/date-day.png) no-repeat;
    }

    &.week {
        background: url(../img/date-week.png) no-repeat;
    }

    &.month {
        background: url(../img/date-month.png) no-repeat;
    }
}

#menu {
    margin: 0 auto;
    position: relative;
    display: block;
    line-height: 22px;
    top: 174px;
    width: 660px;
    border-bottom: 1px solid white;
    height: 40px;
    z-index: 4;
    cursor: pointer;

    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    
    span {
        height: 100%;
        display: block;
        width: 33.3333%;
        float: left;
    }
    
    .selected {
        color: rgba(255, 255, 255, 1);
        font-weight: normal;

        &:after {
            content: "";
            display: block;
            width: 100%;
            position: relative;
            top: 15px;
            border-bottom: 7px solid #332842;
        }
    }
}

#aside {
    transform: translate3D(100%, 0, 0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    opacity: 0;
    overflow: hidden;

    &.shown {
        opacity: 1;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
        transform: translate3D(0, 0, 0);
    }   
}

#day-page {
    background: url(../img/day-page.png) no-repeat;
    background-size: cover;
    transform: translate3D(0%, 0, 0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
    opacity: 1;

    &.shown {
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
        transform: translate3D(-100%, 0, 0);
    }
}

#week-page {
    background: url(../img/week-page.png) no-repeat;
    background-size: cover;
    transform: translate3D(0, 0, 0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
    opacity: 1;

    &.hidden-from-right {
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
        transform: translate3D(100%, 0, 0);
    }

    &.hidden-from-left {
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
        transform: translate3D(-100%, 0, 0);
    }
}

#month-page {
    background: url(../img/month-page.png) no-repeat;
    background-size: cover;
    transform: translate3D(100%, 0, 0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    opacity: 0;

    &.shown {
        opacity: 1;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
        transform: translate3D(0, 0, 0);
    }
}

#nav {
    top: 0;
    background: url(../img/nav.png) no-repeat;
    background-size: cover;
    transform: translate3D(100%, 0, 0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
    opacity: 0;

    &.shown {
        opacity: 1;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
        transform: translate3D(0, 0, 0);    
    }
}

#back-link {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 6%;
    left: 4%;
    display: none;
    z-index: 4;

    &.shown {
        display: block;
    }
}

@import "variables";
@import "fonts";
